* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: black;
    font-family: 'Debugger', monospace;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem; 
}

main {
    margin: 6rem;
}

header {
    font-size: 1rem;
}

header, form {
    display: flex;
    justify-content: left;
    align-items: left;
}

form input, form button {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 5px;
    background: white;
}

input {
    font-family: "Debugger", monospace;
}

form button {
    color: black;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: .5rem;
}

form button:hover {
    color: white;
    background: black;
}

.todo-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.todo-list {
    min-width: 30%;
    list-style: none;
} 

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn, .completed-btn {
    background: white;
    color: black;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

/* .completed-btn {
    background-color: rgb(73, 204, 73);
    border-radius: 50%;
} */

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
} 

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem);
    opacity: 0;
}

/* Decided I didn't want this in this particular design
select {
    -webkit-appearance: none;
    -moz-appearance: none; 
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden; 

}

select {
    color: black;
    width: 10rem;
    cursor: pointer;
    padding: .5rem;
}

.select::after {
    content: "\25BC";
    position: absolute;
    background: black;
    color: white;
    top: 0;
    right: 0;
    padding: .5rem;
    pointer-events: none;
}

.select:hover::after {
    background: white;
    color: black;
    transition: 0.3s ease all;
}
*/